<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Books & Authors</title>
</head>
<body>
    <div class="show_container">
        <h1>{{author.first_name}} {{author.last_name}}</h1>
        <h3>ID: {{author.id}}</h3>
        <h3>Notes: {{author.notes}}</h3>
        <h3>Books:</h3>
        <ul>
            {% for book in author.books.all %}
            <li>{{book.title}}</li>
            {% endfor %}
        </ul>
        <form action="/authors/{{author.id}}" method="post">
            <!-- now sending author_id thru URL which is a get method within the form w/post method) -->
            {% csrf_token %}
            <select name="book_id" id="book_id">
                {% for book in all_books %}
                    <option value="{{book.id}}">{{book.title}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add" id='add_button'>
        </form>
    </div>
</body>
</html>