#container{
    width: 900px;
    height: 800px;
    background-color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;
}

#lname{
    display: inline-block;

}

#add{
    border: 3px solid black;
    padding: 5px;
}