<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table Assignment</title>
    <style>
        table, tr, td{
            border: 1px solid gray
        }
        table, tr, th{
            border: 1px solid gray
        }
    </style>
</head>
<body>
    <h1>Users</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
        </tr>
        {% for user in users: %}
        <tr>
            <td>{{ user['first_name'] }}</td>
            <td>{{ user['last_name'] }}</td>
            <td>{{ user['first_name'] }} {{ user['last_name'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>