<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
    <title>Login & Registration</title>
</head>
<body>
    <div id="success_container">
        <p id='a_tag'><a href="/logout">Log Out</a></p>
        <h1 id='successH1'>Success! Welcome, {{user.first_name}}</h1>
        <h3>Successfully registered or logged in!</h3>
    </div>
</body>
</html>