<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>The Wall</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h2>Coding Dojo Wall</h2>
            <h3>Welcome {{user.first_name}}</h3>
            <a href="/logout">Log Out</a>
        </div>

        <div id="post_message_div">
            <p>Post a message</p>
            <form action="/create_message" method="post">
                {% csrf_token %}
                <textarea name="message" id="" cols="100" rows="5"></textarea>
                <p><button type="submit">Post a message</button></p>
            </form>

            {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div id="messages">
            {% for message in all_messages reversed %}
                <div class="message_box">
                    <p>{{message.creator.first_name}} {{message.creator.last_name}} - {{message.updated_at}}</p>
                    <p class="text">{{message.text}}</p>
                    {% for comment in message.reply_list.all %}
                        <div class="comments">
                            <p>{{comment.creator.first_name}} {{comment.creator.last_name}} - {{comment.updated_at}}</p>
                            <p class="text">{{comment.text}}</p>
                        </div>
                    {% endfor %}

                    <p id="post_comment">Post a comment</p>
                    <form action="/create_comment" method="post">
                        {% csrf_token %}
                        <textarea name="comment" id="" cols="60" rows="3"></textarea>
                        <p><button type="submit" id="comment_button">Post a comment</button></p>
                        <input type="hidden" name="message_id" value="{{message.id}}">
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>