<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>The Wall</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h2>Coding Dojo Wall</h2>
            <h3>Welcome INSERT NAME</h3>
            <a href="/logout">Log Out</a>
        </div>
        <div id="post_message_div">
            <p>Post a message</p>
            <form action="/post_message" method="post">
                {% csrf_token %}
                <textarea name="message" id="" cols="100" rows="5"></textarea>
                <p><button type="submit">Post a message</button></p>
            </form>
        </div>
    </div>
</body>
</html>