<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users with Templates</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div id="container">
        <h1>All the Users</h1>
        
        <div>
            <table>  
                <tr>  
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                </tr>  
                <tr>  
                    <td>1</td>
                    <td>name</td>
                    <td>email</td>
                    <td>age</td>
                </tr>  
                <tr>  
                    <td>2</td>
                    <td>name</td>
                    <td>email</td>
                    <td>age</td>
                </tr>  
                <tr>  
                    <td>3</td>
                    <td>name</td>
                    <td>email</td>
                    <td>age</td>
                </tr>  
            </table>  
        </div>

        <h1 id=line>Add a User</h1>
        <form action="/add_user" method="post">
            {% csrf_token %}
            <div id=top>
                <label for="fname">First Name</label>
                <input type="text" name="fname" id="fname">
                <label for="lname">Last Name</label>
                <input type="text" name="lname" id="lname">
            </div>
            <div id=bottom>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <label for="age">Age</label>
                <input type="text" name="age" id="age">
            </div>
            <input type="submit" value="Add" id="add">
        </form>
    </div>
</body>
</html>