<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users with Templates</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div id="container">
        <h1>All the Users</h1>
        
        <div>
            <table>  
                <tr>  
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                </tr>  
                {% for user in all_users %}
                <tr>  
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email_address }}</td>
                    <td>{{ user.age }}</td>
                </tr>  
                {% endfor %}
            </table>  
        </div>

        <h1 id=line>Add a User</h1>
        <form action="add_user" method="post">
            {% csrf_token %}
            <!-- put in table if I want all labels and inputs lined up evenly -->
            <div id=top>
                <label for="fname">First Name</label>
                <input type="text" name="fname" id="fname">
                <label for="lname">Last Name</label>
                <input type="text" name="lname" id="lname">
            </div>
            <div id=bottom>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <label for="age">Age</label>
                <input type="text" name="age" id="age">
            </div>
            <input type="submit" value="Add" id="add_button">
        </form>
    </div>
</body>
</html>