<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users with Templates</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div id="container">
        <h1>All the Users</h1>
        <table>  
            <tr>  
                <th>One</th>
                <th>Two</th>
                <th>Three</th>
            </tr>  
            <tr>  
                <td>Apples</td>
                <td>Carrots</td>
                <td>Steak</td>
            </tr>  
            <tr>  
                <td>Oranges</td>
                <td>Potato</td>
                <td>Pork</td>
            </tr>  
            <tr>  
                <td>Pears</td>
                <td>Peas</td>
                <td>Chicken</td>
            </tr>  
            </table>  

        <p>insert straight long line here</p>

        <h1>Add a User</h1>
        <form action="/add_user" method="post">
            {% csrf_token %}
            <p>
                First Name <input type="text" name="fname" id="fname">
                Last Name <input type="text" name="lname" id="lname">
            </p>
            <p>
                Email <input type="email" name="email" id="email">
                Age <input type="text" name="age" id="age">
            </p>
            <p><input type="submit" value="Add" id="add"></p>
        </form>
    </div>
</body>
</html>